// Colors
$fontColor : #333333;
$primaryColor : #0079BC;
$eventNameBackground : #0079BC;
$content : #ffffff;
$banner : url(https://static1.squarespace.com/static/5937ecf5725e25a794cebc0d/t/5938047546c3c4fb669d2ca3/1496843447295/AdobeStock_67486433.jpeg) 20% center no-repeat ;
$banner-wrapper : url(https://static1.squarespace.com/static/5937ecf5725e25a794cebc0d/t/5938047546c3c4fb669d2ca3/1496843447295/AdobeStock_67486433.jpeg) 0px 100% no-repeat;
$componentBackground : #fafafa !important;
$eventFontColor:white;
$darkColor: #0079BC;
$overlay : transparent !important;
$gray500: #9e9e9e;
$gray200: #EEEEEE;
$error_color: #E80000;
$fb-color: #4B68BA;
$disabled: #e5e5e5;
$box-shadow-primary: 0 4px 10px -2px #9e9e9e;
$small-font-size: 0.875em

