@import '../variables/variables';

.footer {
  display:  flex;
  align-items:  center;
  justify-content:  center;
  padding: 6px 16px;
  margin: 0;
  background-color: $footerColor;
}

.footerText {
  font-size: 14px;
  color: $footerTextColor;
}
