@import '../variables/variables';

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $backgroundColor;
  background-position: center;
  background-repeat: $backgroundRepeat;
  background-size: $backgroundSize;
  margin: 0;
  padding: 24px 16px;

  @if $backgroundImgToggle {
    background-image: $backgroundImg;
  }
}
