@import '../variables/variables';

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $backgroundColor;
  background-position: center;
  background-image: if($backgroundImgToggle = "true",$backgroundImg, none);
  background-repeat: $backgroundRepeat;
  background-size: $backgroundSize;
  margin: 0;
  padding: 24px 16px;
}
