@import '../variables/variables';

.ui-grid-header-cell-row {
  overflow-y:  scroll;
  flex-wrap: nowrap;
  min-width:  800px;
  background-color: $headerColor;
}

.ui-grid-header-cell-label {
  color: $headerTextColor;
}