@media only screen and (min-width: 320px) {
  .fixed-bottom{
    &.onMobile{
      display: block;
    }
  }
  .leftSection, .rightSection {
    padding-left: 5px;
    padding-right: 5px;
  }

  .content {
    border-radius: 5px;
    background: $overlay;
  }

  .container {
    padding-top: 2px;
  }

  .stepper {
    left: 0;
  }

  .rightSection {
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    @include is-mobile-sm{
      padding-bottom: 0;
    }
  }

}

@media only screen and (min-width: 480px) {

  .header {
    //display: table-header-group;
  }

  .leftSection, .rightSection {
    padding: 10px;
  }

  .stepper {
    left: 0;
  }

  .rightSection {
    margin-top: 0;
    margin-left: 0;
  }

}

@media only screen and (min-width: 768px) {
  .content{
    margin: 10px 2px 0 2px !important;
    border: 1px solid $componentBackground;
  }

  .content {
    border: none !important;
    border-radius: 5px;
    background: none !important;
    padding: 10px 0 0 0 !important;
  }

  .stepper {
    left: 50%;
  }

  .rightSection {
    margin-top: 5em;
    margin-left: 2em;
  }
  .fixed-bottom{
    &.onMobile{
      display: none;
    }
  }

}

@media only screen and (min-width: 992px) {

  .stepper {
    left: 50%;
  }

  .rightSection {
    margin-top: 5em;
    margin-left: 2em;
  }


}