.modal{
  position: relative;
  background-color: $content;
  padding: 25px;
  width: 100% !important;
  height: auto !important;
  max-width: 280px;;
  top: 50% !important;
  bottom: auto !important;
  left: 0 !important;
  right: 0 !important;
  transform: translateY(-50%);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 2px;
  box-sizing: border-box;
  margin: 0 auto;
  word-break: break-word;
  z-index: 100;
  h4 {
    margin-top: 0;
    font-size: 18px;
  }
  div{
    outline: none;
    display: flex;
    flex-direction: column;
  }
  h3{
    font-size: 20px;
    line-height: 28px;
  }
  p{
    color: rgba(0, 0, 0, 0.5);
  }
  .close-button{
    color: $primaryColor;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    align-self: flex-end;
  }
}