.overlay{
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  left: 0;
  display: flex;
  justify-content: center;
  transition: .5s;
  .preloader{
    align-self: center;
    color: $primaryColor;
  }
}