.stepperWrapper {
  &.tickets_step {
    position: relative;
    opacity: 1;
    z-index: 4;
  }
  @include is-mobile-sm{
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
}

.steps .stepLabel {
  display: inline-block !important;
  text-align: center;
  height: auto !important;
  padding: 0 !important;
}

.steps .stepLabel span svg {
  margin: 0 auto;
  padding: 10px 0 !important;
}

.stepperContainer {
  position: relative;
  text-align: left;
  margin-bottom: 40px;
  .no-padding{
    padding-left: 0;
    padding-right: 0;
  }
  .offsetBottom {
    margin-bottom: 20px;
  }
  .ticketInfo {
    margin-top: 0;
    h4 {
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 2px;
    }
    p {
      font-weight: 500;
      font-size: 15px;
      @include is-mobile-xs-320{
        font-size: 13px;
      }
      line-height: 23px;
      margin: 0;
      @include is-mobile-sm{
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .heading {
    margin-bottom: 20px;
  }
  .divider {
    margin-left: 0;
    margin-right: 0;
  }
  .custom-width{
    width: 70%;
  }
}

.stepper {
  left: 50%;
  position: relative;
}

.color {
  color: red;
}
