.timer{
  display: flex;
  padding: 15px 0 40px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  @include is-mobile-md-min{
    max-width: 320px;
    padding: 25px 0 50px;
  }
  font-weight: 900;
  color: $gray500;
  .timerItem{
    color: #000;
    font-weight: 400;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid $primaryColor;
    font-size: 24px;
    border-radius: 4px;
    position: relative;
    span{
      position: absolute;
      top: 100%;
      font-size: 12px;
      left: 0;
      right: 0;
      text-align: center;
      text-transform: uppercase;
      color: $gray500;
      padding-top: 5px;
    }
  }
}
.salesAreOff{
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  padding: 30px 0;
}
