$bannerImage: url("https://static1.squarespace.com/static/5937ecf5725e25a794cebc0d/t/5938047546c3c4fb669d2ca3/1496843447295/AdobeStock_67486433.jpeg");
$backgroundImg: url("https://static1.squarespace.com/static/5937ecf5725e25a794cebc0d/t/5938047546c3c4fb669d2ca3/1496843447295/AdobeStock_67486433.jpeg");
$bannerTextColor: #fff;
$bannerAspectRatioPadding: 56.25%