.paper{
  margin: 17px 5px;
  @include is-mobile-md-min{
    box-shadow: none !important;
    margin: 0;
  }
}
.leftSection{
  a{
    &.showMore{
      color: $eventNameBackground;
    }
  }
  .box{
    &.onMobile{
      @include is-mobile-sm{
        display: none;
      }
    }
  }
}
.offMobile{
  p{
    margin: 0;
  }
}
.event{
  h1{
    margin: 0;
  }
  h2{
    margin: 0;
    font-size: 1.125em;
    line-height: 1.2em;
    @include is-mobile-sm{
      font-size: 16px;
      line-height: 25px;
    }
  }
}