$bannerImage: url("https://static1.squarespace.com/static/5937ecf5725e25a794cebc0d/t/5938047546c3c4fb669d2ca3/1496843447295/AdobeStock_67486433.jpeg");
$bannerTextColor: #fff;
$bannerAspectRatioPadding: 56.25%;

$backgroundImg: url("https://static1.squarespace.com/static/5937ecf5725e25a794cebc0d/t/5938047546c3c4fb669d2ca3/1496843447295/AdobeStock_67486433.jpeg");
$backgroundImgToggle: "true";
$backgroundColor: #fff;
$backgroundRepeat: no-repeat;
$backgroundSize: cover;

$titleBarColor: #0079BC;
$titleBarTextColor: #fff;
$titleBarImage: url(https://s3-eu-west-1.amazonaws.com/truminfilestorage/Trumin+Logos/Trumin+Roundel.svg);

$headerColor: #d2d2d2;
$headerTextColor: #333333;

$footerColor: #555555;
$footerTextColor: #fff;