@import 'variables';

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  background-size: cover;
  background-position: center;
}

.headerImg {
  background-image: $headerImage;
  background-color: gray;
  overflow: hidden;
  height: 0;
  padding-top: $headerAspectRatioPadding,
}

.logoImg {
  background-image: $logoImage;
  width: 45px;
  height: 45px;
}

.footerImg {
  background-image: $footerImage;
  background-color: gray;
  overflow: hidden;
  height: 0;
  padding-top: $footerAspectRatioPadding,
}